:root {
    --back-color: #E27E7E;
    --main-bubble-color: #EA9E79;
    --main-banner-color: #7E5072;
    --page-title-color: #AB5A74;
    --subsection-title-color: #DB5079;
    --position-title-color: #C5365C;
    --subsection-description-color: #C0607F;
    --bubble-curvature: 2em;
    --font-size: 1rem;
    --small-font: 0.8rem;
    --caption-margin: 0.8em;
}

body {
    font-family: 'Comfortaa', sans-serif;
    background-color: var(--back-color, #E27E7E);
    color: white;
    margin: 0;
    padding: 0;
    font-size: var(--font-size, 2rem);
}

h1 {
    background-color: var(--main-banner-color, #7E5072); 
    padding: 1.5rem;
    text-align: center;
}

h2 {
    background-color: var(--page-title-color, #AB5A74); 
    padding: 1.5rem;
    text-align: center;
}

h3 {
    display: inline-block;
    background-color: var(--subsection-title-color,#DB5079);
    color: white; 
    padding: 0.3em 0.8em;
    border-radius: var(--bubble-curvature, 1rem); 
    margin: 0.5em auto;
}

h4 {
    background-color: var(--position-title-color, #C5365C);
    color: white; 
    padding: 0.3em 0.8em;
    border-radius: var(--bubble-curvature, 1rem); 
    margin: 0.5em 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

nav a {
    display: inline-block;
    background-color: var(--main-bubble-color, #EA9E79);
    color: white;
    padding: 0.6em 1.2em;
    border-radius: var(--bubble-curvature, 1rem); 
    /* Idea utilized from here: "https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_transitions/Using_CSS_transitions" */
    transition: all 0.5s ease-out;
}

nav a:hover {
    background-color: var(--position-title-color, #C5365C);
    /* Idea utilized from here: "https://stackoverflow.com/questions/31860157/css3-transform-translate-on-hover-with-transition" */
    transform: translateY(2px);
}

/* Idea utilized from here: https://blog.hubspot.com/website/css-fade-in */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.page-info {
    background-color: var(--main-bubble-color,#EA9E79);   
    border-radius: var(--bubble-curvature, 1rem); 
    padding: 2rem;               
    margin: 2rem auto;           
    max-width: 70dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s; 

    ul {
        background-color: var(--subsection-description-color, #C0607F); 
        padding: 1em 1.5em; 
        border-radius: var(--bubble-curvature, 1rem); 
        list-style-position: inside;  
        width: 90%;

        li {
            margin-bottom: 0.9rem;
            list-style-position: outside;
        }
    }

    p {
        background-color: var(--subsection-description-color, #C0607F); 
        padding: 1em 1.5em;
        border-radius: var(--bubble-curvature, 1rem); 
        text-align: center;
    }
}

.centered-items {
    display: flex;
    flex-direction: column;
    align-items: center;  

    img {
        border-radius: var(--bubble-curvature, 1rem); 
        height: 40dvh;
        width: auto
    }

    figcaption {
        font-size: var(--small-font, 0.9rem);
        text-align: center;
        margin-top: var(--caption-margin, 0.9em);
    }
}

iframe {
    display: block;
    margin: 1rem auto;
    max-width: 90%;
    height: 80dvh;
}

.img-gallery {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;           

    img {
        border-radius: var(--bubble-curvature, 1rem); 
        max-width: 45dvw;
        height: 40dvh;
    }

    figcaption {
        text-align: center;
        font-size: var(--small-font);
        margin-top: var(--caption-margin, 0.9em);
    }
}

footer {
  text-align: center;
  font-size: var(--small-font, 0.9rem);
  color: black; 
  padding: 1rem 0 0 0;
}
